@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#container-div {
    width: 100%;
    height: 100%;
    margin: 0;

    display: flex;
}

#preview-div {
    height: 100%;
    flex-grow: 1;
    background-color: rgb(68, 68, 68);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#settings-div {
    height: 100%;
    width: 18rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    overflow: auto;

    background-color: rgb(255, 255, 255);
}

#settings-column {
    display: flex;
    flex-direction: column;

    padding: 3rem 1rem 0rem;
}

#settings-title {
    /* text-align: center; */
    font-family: 'Roboto', sans-serif;
    font-size: 20pt;
    font-weight: 900;
    /* letter-spacing: +.1rem; */
    height: 4rem;

    display: flex;
}

#title-text {
    flex-grow: 1;
}

#reset-button {
    margin: auto;
    margin-bottom: 0;
    font-size: 14pt;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
}

#file-input {
    text-align-last: center;
}

#file-div {
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#generate-button {
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#generate-button>span {
    font-size: 24pt;
    color: white;
    font-weight: 700;
    text-align: center;
    pointer-events: none;
    user-select: none;
}
.generate-button-enable-transitions {
    transition: background-color 0.5s;
}
.generate-button-disabled {
    background-color: rgb(128, 180, 117);
}
.generate-button-enabled {
    background-color: rgb(38, 167, 12);
    cursor: pointer;
}

.settings-header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-top: 0rem;
    height: 1rem;

    font-size: 12pt;
}

.settings-divider {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(228, 228, 228);
    margin: 1rem 0rem;
}

.settings-borders {
    margin-left: 1rem;
    margin-right: 1rem;
}

.settings-table {
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
    padding: 1rem 0rem;
    font-size: 11pt;
}
.settings-table>div {
    display: flex;
}
.settings-table>div *:first-child {
    flex-grow: 1;
    width: 100%;
}
.settings-table input[type="number"] {
    width: 3rem;
}
.settings-table input[type="checkbox"] {
    margin-right: 3.25rem;
}

.unit {
    width: 3rem;
    text-align: center;
    font-size: 10pt;
}

.value {
    width: 12rem;
    text-align: right;
    font-size: 10pt;
}